/Sum_Projekt/nbproject/private/
/Sum_Projekt/build/
/nbproject/private/
/Sum_Projekt/dist/
Sum_Projekt/web/WEB-INF/glassfish-web.xml
/Sum_Projekt/dist/
build/web/META-INF/MANIFEST.MF
build/web/WEB-INF/classes/.netbeans_automatic_build
build/web/WEB-INF/classes/.netbeans_update_resources
build/web/WEB-INF/classes/beans/BeboerBean.class
build/web/WEB-INF/classes/beans/NoteBean.class
build/web/WEB-INF/classes/model/Aktivitet.class
build/web/WEB-INF/classes/model/Beboer.class
build/web/WEB-INF/classes/model/Note.class
build/web/WEB-INF/classes/model/PersonResource.class
build/web/WEB-INF/classes/service/Service.class
build/web/WEB-INF/classes/storage/Storage.class
build/web/WEB-INF/lib/javaee-web-api-7.0.jar
build/web/WEB-INF/lib/primefaces-5.0.jar
build/web/WEB-INF/sun-web.xml
build/web/WEB-INF/web.xml
build/web/gfv3ee6.dpf
build/web/index.xhtml
build/web/welcomePrimefaces.xhtml

