body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container{
    position: absolute;
    width: 1000px;
    height: 800px;
}
#table{
    display: table;
    color: red;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.row-1{
    display: table-row;
    color: blue;
    height: 25%;
}
.row-2{
    display: table-row;
    color: green;
    height: 25%;
}
.col-1{
    display: table-column;
    background-color: lightgray;
    width: 200px;
}
.col-2{
    display: table-column;
}
.cell{
    display: table-cell;
    border: 1px solid black;
    
}
.box{
    position: relative;
    z-index: 3;
    border: 2px solid black;
    background-color: yellow;
    width: 200px;
    height: 150px;
    top: 40px;
    left: 100px;
}