/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2015, 9:39:17 AM
    Author     : Christian
*/
#datepicker {
    margin:auto;
    width: 44%;
}
[id="j_idt11:0:calendar"] {
    padding: 15px;
}
#personressourcer {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.0em;
}

